:javascript
    var cognito_pool_id = '#{@config[:cognito][:pool_id]}';
    var cognito_client_id = '#{@config[:cognito][:client_id]}';
    var cognito_endpoint = '#{@config[:cognito][:endpoint]}';
    var cognito_cookie_domain = '#{@config[:cognito][:cookie_domain]}';
    var cognito_redirect_uri = '#{@config[:cognito][:redirect_uri]}';
    var cognito_signout_uri = '#{@config[:cognito][:signout_uri]}';
