%ul.nav.nav-transparent

    // ################### USER
    - nav_item_class = 'nav-item'
    - if request.path.include?('/profile') || current_page?(user_signin_path)
        - nav_item_class = nav_item_class + ' active'
    %li(class="#{nav_item_class}")
        - if @user.blank?
            = link_to user_signin_path, class: 'nav-link' do
                %i.fa.fa-user-circle-o
                Sign In
        - else
            = link_to user_profile_path, class: 'nav-link' do
                %i.fa.fa-user-circle-o
                = @user.nickname

    .sidebar-spacer

    // ################### HOME
    - nav_item_class = 'nav-item'
    - unless request.path.include?('/profile') || current_page?(user_signin_path)
        - nav_item_class = nav_item_class + ' active'
    %li(class="#{nav_item_class}")
        = link_to root_path , class: 'nav-link' do
            %i.fa.fa-home
            Home

    .sidebar-spacer

    // ################### SIGN OUT
    %li.nav-item
        = link_to "#", class: 'nav-link', onclick: 'event.preventDefault(); cognito.signout();' do
            %i.fa.fa-sign-out
            Sign Out

    // ################### AUTHOR
    %li.nav-item.mt-3
        = link_to 'https://duxcloud.com.br', class: 'nav-link fs-10 py-1', target: '_blank' do
            %span.font-weight-light Pedro Dousseau

    // ################### EMAIL
    %li.nav-item.my-0
        = link_to 'mailto:pedro@duxcloud.com', class: 'nav-link fs-10 py-1', target: '_blank' do
            %span.font-weight-light pedro@dousseau.com

    // ################### GITHUB
    %li.nav-item
        = link_to 'https://github.com/dousseaux/desafio-ruby-backend', class: 'nav-link fs-10 py-1', target: '_blank' do
            %span.font-weight-light Desafio Backend Ruby
